<div>
        Name: {{user.name}}
    </div>
    <div>Location:  {{user.location}}</div>
    <div>
        <img ng-src="{{user.avatar_url}}" title="{{user.name}}" />
    </div>

    
    order: 
    <select ng-model="repoSortOrder">
        <option value="+name">name</option>
        <option value="+language">languaje</option>
        
    </select>
    
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>stars</th>
                <th>language</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="repo in repos | orderBy: repoSortOrder">
                <td>{{repo.name}}</td>
                <td>{{repo.stargazers_count | number:1}}</td>
                <td>{{repo.language}}</td>
            </tr>
        </tbody>
    </table>
</div>